{% block head %}
<link rel="shortcut icon" href="/static/favicon.ico"/>
<title> {{ name }} </title>
{% endblock head %}
{% extends 'index.html' %}
{% block content %}
<head>
   <meta http-equiv="x-ua-compatible" content="IE-edge">
   <meta name="viewport" content="width-device-width, initial-scale=1">
   <link href="/static/For%20Table/dataTables.bootstrap.min.css" rel="stylesheet">
</head>
<style>
   .main-wrap{
   padding:3%;
   max-width:1200px;
   margin: 10px auto;
   margin-left:20px;
   }
   #links{
   color:black;
   }
   a:hover {
   color: black;
   text-decoration: none;
   }
   #div:hover{
   color:#98978b;
   }
</style>
<main role="main" >
   <div class="row" style="margin:20px;">
   <div class="col-md-12" style="display:inline-block;">
   <div style="display:inline-block;" class="col-md-5" ><font size="6"> <b>{{ name }}</b></font></div>
   </div>
   </div>
   <div class="row">
      <div class="col-md-8">
         <div class="main-wrap">
            <div class="card mt-1" style="background-color:#98978b;padding:15px;">
               <strong>Problems</strong>
            </div>
            {% for problems in obj %}
            <div class="card mt-1" id="div">
               <div class="card-header">
                  <a href="/currentcontest/{{ id }}/{{ problems.id }}" id="links" style="color: #0c5460">
                  <b>{{ problems.name }}</b>
                  </a>
                  {% if problems.sub == "AC" %}
                  <a href="/submissions/{{ id }}/{{ problems.id }}" style="color: darkgreen">
                  <i href="/submissions/{{ id }}/{{ problems.id }}" style="float:right" class="fa fa-check"></i>
                  </a>
                  {% elif problems.sub == "null" %}
                  <a href="/submissions/{{ id }}/{{ problems.id }}" style="color: #2d2006">
                  <i style="float:right" class="fa fa-times-circle"></i>
                  </a>
                  {% endif %}
               </div>
            </div>
            {% endfor %}
         </div>

      </div>
       <div class="col-md-3" style="margin-left:20px;margin-top:20px;">
            <div align="center" class="jumbotron shadow" >
                <div align="center" id="timer">
                    <b></b>
                </div>
                <hr>
                <button class="btn btn-dark " onclick="location.href='/currentcontest/{{ id }}/ranklist'" style="width:100%">
                    Standings</button>
                <hr>
                <button class="btn btn-dark" onclick="location.href='/currentcontest/{{ id }}/ranklist'" style="width:100%">
                    Standings</button>
                <hr>
                <button class="btn btn-dark" onclick="location.href='/currentcontest/{{ id }}/ranklist'" style="width:100%">
                    Standings</button>
            </div>
         </div>
   </div>
</main>
<script>
   var ed_string = ("{{edto}}");
   var countDownDate = new Date(ed_string).getTime();
   var x = setInterval(function() {
       var now = new Date().getTime();
       distance = countDownDate - now;

       var days = Math.floor(distance / (1000 * 60 * 60 * 24));
       var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
       var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
       var seconds = Math.floor((distance % (1000 * 60)) / 1000);


       if(days>0){
           document.getElementById("timer").innerHTML = "<h3>"+days + " Day " + hours + " : " + minutes + " : " + seconds+"</h3>";
       }
       else if(days==0){
           document.getElementById("timer").innerHTML = "<h3>"+hours + ":" + minutes + ":" + seconds+"</h3>";
       }

       else if (distance < 0) {
           clearInterval(x);
           document.getElementById("timer").innerHTML = "<h3>EXPIRED</h3>";
       }
   }, 1000);

</script>
     <script>
                highlight("contests");
            </script>
{% endblock content %}