
{% block head %}
{% endblock head %}

{% extends 'index.html' %}

{% block content %}
    <head>
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="/static/For%20Table/dataTables.bootstrap.min.css" rel="stylesheet">
    </head>
<style>
    #loll
    {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
        margin-top: 130px;
    }
    #first
    {
        float: left;
        width: 25%;
    }
    #second
    {
        float: right;
        width: 25%;
    }
    #password
    {
        float: right;
        width: 25%;
    }
    #tot
    {
        width: 92%;
        float: top;
        margin-left: 4%;
        margin-right: 4%;
    }
</style>
<body>

{#{%  include 'layout.html' %}#}
  <h1 class="lead" align="center"><font size="10px">Create Contest</font></h1>
{%  from  "includes/_formhelpers.html" import render_field %}

<form method="POST">
<div id="tot">
    <p><b>Contest Details</b></p>
    <select id="cb">
        <option value="public" id="public" name="public">Public</option>
        <option value="private" id="private" name="private">Private</option>

    </select>
    <hr>
    <div class="form-group">
        {{ render_field(form.contestname, class_="form-control")}}
    </div>

    <div>
            <div id="first">
                <p>Contest Date</p>
                <input type=date name="date">
            </div>

        <div id="first">
            <P>Contest Start Time</P>
            <input type=time name="start_time">
        </div>
        <div id="first">
            <p>Contest End Time</p>
        <input type="time" name="end_time">
        </div>

        <div id="password">
            <p>Contest Password</p>
        <input type="password" name="password">
        </div>
    </div>


</div>

<div id="loll">
    <p><b>Choose Problem From the list</b></p>
    <hr>
    <table class="table table-striped table-bordered table-hover" id="mydata">

    <thead>
            <tr>
                <th>Problem Name</th>
                <th>Ac Submission</th>
                <th>Submission</th>
                <th>Choose</th>
            </tr>
    </thead>
        <tfoot>
            <tr>

            </tr>
    </tfoot>

    <tbody>
    {% for problem in obj %}
        <tr>
            <td>

                {{ problem.name }}

            </td>
            <td>
                {{ problem.acc }}
            </td>
            <td>
                {{ problem.sc }}
            </td>
            <td>
                <input type="checkbox" class="checkbox-inline" name={{ problem.box }} >
            </td>
        </tr>
    {% endfor %}
        </tbody>


    </table>
</div>
<div id="tot" class="form-group">

    <input type="submit" class="btn btn-primary" value="Create">
</div>
</form>

<script src="/static/For%20Table/jquery.js"></script>
<script src="/static/For%20Table/jquery.dataTables.min.js"></script>
<script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
<script>

    $('#mydata').dataTable()
</script>
<script type="text/javascript">
    var x=document.getElementById("password");
    x.style.display='none';

</script>
<script type="text/javascript">
    document.getElementById("cb").onchange=function () {
        var x=document.getElementById("cb").value;
        var xx=document.getElementById("password");
        //alert(x);
        if(x.toLocaleString()=="public")
        {
            xx.style.display='none';

        }
        else xx.style.display='block';
    }
    
</script>



</body>

{% endblock content %}