{% block head %}
{% endblock head %}
{% block content %}
    <head>
        {{ codemirror.include_codemirror() }}
    </head>
    <body>
    {% include 'layout.html' %}
    {% from "includes/_formhelpers.html" import render_field %}
    <h1 class="lead" align="center"><font size="10px">Code and Compile</font></h1>
    <br>
    <br>

    <div class="container">
    <form method="POST" action="">
        <div>

            <select name=languages method="GET" action="">
                {% for language in languages %}
                    <option value="{{ language }}" SELECTED>{{ language }}</option>"
                {% endfor %}
            </select>
        </div>
{#    <div class="dropdown show">#}
{##}
{#  <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink"#}
{#     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Dropdown link#}
{#  </a>#}
{##}
{#  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#    <a class="dropdown-item" href="#">Action</a>#}
{#    <a class="dropdown-item" href="#">Another action</a>#}
{#    <a class="dropdown-item" href="#">Something else here</a>#}
{#  </div>#}
{#</div>#}

        {{ codemirror.include_codemirror() }}


            <div class="form-group">
                {{ render_field(form.source_code,class_="form_control") }}
            </div>

            <p>
                <input type="submit" class="btn btn-primary" name="run" value="Run"/>
                <input type="submit" class="btn btn-primary" name="submit" value="Submit"/>
                <input type="checkbox" class="checkbox-inline" name="custom_input" value="custom inputs"/>
            </p>
            <div class="form-group">
                {{ render_field(form.inputs, class_="form-control",id="editor") }}
            </div>
            <table class="table table-striped table-hover table-bordered" id="mydata">
                <p><font size="12"> <b><i> {{ status }}</i></b></font></p>

                <hr>
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr></tr>
                </tfoot>
                {% for output in outputs %}
                    <tr>
                        <td>
                            <p> {{ output }} </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    <table class="table table-striped table-hover table-bordered" id="data">


                <hr>
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr></tr>
                </tfoot>
                    <tr>
                        <td>
                            <p> <a href="/submissions">{{ check_submissions }}</a> </p>
                        </td>
                    </tr>
            </table>


        </form>
    </div>


    </body>

{% endblock content %}
