{% extends 'index.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<head>
    <script src="/static/vendor/codemirror/js/codemirror.js"></script>
    <link rel="stylesheet" href="/static/vendor/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/base16-dark.css">
    <script src="/static/vendor/codemirror/js/css-hint.js"></script>
    <script src="/static/vendor/codemirror/js/show-hint.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddCheckbox.js"></script>
    <script src="/static/Patterns/MediatorForEditor/Mediator.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddInputsTextArea.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddInputDiv.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddEditor.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddDropdown.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddRunButton.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddSubmitButton.js"></script>
    <script src="/static/Patterns/MediatorForEditor/AddThemeSelect.js"></script>
    <link rel="stylesheet" href="/static/vendor/codemirror/css/show-hint.css">
    <link rel="stylesheet" href="/static/css/editor.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/3024-day.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/3024-night.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/abcdef.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/ambiance.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/ambiance-mobile.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/base16-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/base16-light.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/bespin.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/blackboard.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/cobalt.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/colorforth.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/darcula.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/dracula.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/duotone-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/duotone-light.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/eclipse.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/elegant.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/erlang-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/gruvbox-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/hopscotch.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/icecoder.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/idea.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/isotope.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/lesser-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/liquibyte.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/lucario.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/material.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/mbo.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/mdn-like.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/midnight.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/monokai.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/neat.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/neo.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/night.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/oceanic-next.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/panda-syntax.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/paraiso-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/paraiso-light.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/pastel-on-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/railscasts.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/rubyblue.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/seti.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/shadowfox.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/solarized.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/ssms.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/the-matrix.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/themes.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/tomorrow-night-bright.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/ttcn.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/twilight.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/vibrant-ink.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/xq-dark.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/xq-light.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/yeti.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/css/theme/zenburn.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/inlet.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/addon/lint/lint.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/addon/dialog/dialog.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/addon/hint/show-hint.css">
    <script src="/static/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/static/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="/static/vendor/codemirror/mode/css/css.js"></script>
    <script src="/static/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/static/vendor/codemirror/addon/edit/closetag.js"></script>
    <script src="/static/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/static/vendor/codemirror/addon/selection/active-line.js"></script>
    <script src="/static/vendor/codemirror/addon/fold/foldcode.js"></script>
    <script src="/static/vendor/codemirror/addon/fold/foldgutter.js"></script>
    <script src="/static/vendor/codemirror/addon/fold/brace-fold.js"></script>
    <script src="/static/vendor/codemirror/addon/fold/xml-fold.js"></script>
    <script src="/static/vendor/codemirror/addon/fold/comment-fold.js"></script>
    <script src="/static/vendor/codemirror/addon/search/search.js"></script>
    <script src="/static/vendor/codemirror/addon/search/searchcursor.js"></script>
    <script src="/static/vendor/codemirror/addon/dialog/dialog.js"></script>
    <script src="/static/vendor/codemirror/addon/hint/show-hint.js"></script>
    <script src="/static/vendor/codemirror/addon/hint/xml-hint.js"></script>
    <script src="/static/vendor/codemirror/addon/hint/html-hint.js"></script>
    <script src="/static/vendor/codemirror/addon/hint/css-hint.js"></script>
    <script src="/static/vendor/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="/static/vendor/codemirror/addon/search/match-highlighter.js"></script>
    <script src="/static/vendor/codemirror/htmlhint.js"></script>
    <script src="/static/vendor/codemirror/csslint.js"></script>
    <script src="/static/vendor/codemirror/jshint.js"></script>
    <script src="/static/vendor/codemirror/addon/lint/lint.js"></script>
    <script src="/static/vendor/codemirror/addon/lint/html-lint.js"></script>
    <script src="/static/vendor/codemirror/addon/lint/css-lint.js"></script>
    <script src="/static/vendor/codemirror/addon/lint/javascript-lint.js"></script>
    <script src="/static/vendor/codemirror/inlet.min.js"></script>
    <script src="/static/vendor/codemirror/emmet.js"></script>
    <script src="/static/vendor/codemirror/addon/search/jump-to-line.js"></script>
    <script src="/static/vendor/codemirror/markdown.js"></script>
    <script src="/static/vendor/codemirror/continuelist.js"></script>
    <script src="/static/vendor/codemirror/mode/ruby/ruby.js"></script>
    <script src="/static/vendor/codemirror/mode/haml/haml.js"></script>
    <script src="/static/vendor/codemirror/mode/jade/jade.js"></script>
    <script src="/static/vendor/codemirror/mode/sass/sass.js"></script>
    <script src="/static/vendor/codemirror/mode/livescript/livescript.js"></script>
    <script src="/static/vendor/codemirror/mode/coffeescript/coffeescript.js"></script>
    <script src="/static/vendor/codemirror/coffee-script.js"></script>
    <script src="/static/vendor/codemirror/coffeelint.js"></script>
    <script src="/static/vendor/codemirror/addon/lint/coffeescript-lint.js"></script>
    <script src="/static/vendor/codemirror/mode/stylus/stylus.js"></script>
</head>
<main role="main" >
    <div class="row">
       <div class="col-md-12">
        <div class="offset-1 col-md-11">
           <h1 class="lead"><font size="20px"><strong>Code and Compile</strong></font></h1>
        </div>
        <br>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% from "includes/_formhelpers.html" import render_field %}
            <br>
            <div class="offset-1 col-md-10">
                <form method="POST" action="">
                    <span>
                        <select id="languages" name=languages method="GET" action="">
                            {% for language in languages %}
                            <option value="{{ language }}" SELECTED>{{ language }}</option>
                            "
                            {% endfor %}
                        </select>
                    </span>
                    <span style="margin-left:70%;">
                        <select id="themes" name=themes method="GET" action="">
                            <option value='3024-day'>3024-day</option>
                            <option value='3024-night'>3024-night</option>
                            <option value='abcdef'>abcdef</option>
                            <option value='ambiance'>ambiance</option>
                            <option value='ambiance-mobile'>ambiance-mobile</option>
                            <option value='base16-dark' SELECTED>base16-dark</option>
                            <option value='base16-light'>base16-light</option>
                            <option value='bespin'>bespin</option>
                            <option value='blackboard'>blackboard</option>
                            <option value='cobalt'>cobalt</option>
                            <option value='colorforth'>colorforth</option>
                            <option value='darcula'>darcula</option>
                            <option value='dracula'>dracula</option>
                            <option value='duotone-dark'>duotone-dark</option>
                            <option value='duotone-light'>duotone-light</option>
                            <option value='eclipse'>eclipse</option>
                            <option value='elegant'>elegant</option>
                            <option value='erlang-dark'>erlang-dark</option>
                            <option value='gruvbox-dark'>gruvbox-dark</option>
                            <option value='hopscotch'>hopscotch</option>
                            <option value='icecoder'>icecoder</option>
                            <option value='idea'>idea</option>
                            <option value='isotope'>isotope</option>
                            <option value='lesser-dark'>lesser-dark</option>
                            <option value='liquibyte'>liquibyte</option>
                            <option value='lucario'>lucario</option>
                            <option value='material'>material</option>
                            <option value='mbo'>mbo</option>
                            <option value='mdn-like'>mdn-like</option>
                            <option value='midnight'>midnight</option>
                            <option value='monokai'>monokai</option>
                            <option value='neat'>neat</option>
                            <option value='neo'>neo</option>
                            <option value='night'>night</option>
                            <option value='oceanic-next'>oceanic-next</option>
                            <option value='panda-syntax'>panda-syntax</option>
                            <option value='paraiso-dark'>paraiso-dark</option>
                            <option value='paraiso-light'>paraiso-light</option>
                            <option value='pastel-on-dark'>pastel-on-dark</option>
                            <option value='railscasts'>railscasts</option>
                            <option value='rubyblue'>rubyblue</option>
                            <option value='seti'>seti</option>
                            <option value='shadowfox'>shadowfox</option>
                            <option value='solarized'>solarized</option>
                            <option value='ssms'>ssms</option>
                            <option value='the-matrix'>the-matrix</option>
                            <option value='themes'>themes</option>
                            <option value='tomorrow-night-bright'>tomorrow-night-bright</option>
                            <option value='tomorrow-night-eighties'>tomorrow-night-eighties</option>
                            <option value='ttcn'>ttcn</option>
                            <option value='twilight'>twilight</option>
                            <option value='vibrant-ink'>vibrant-ink</option>
                            <option value='xq-dark'>xq-dark</option>
                            <option value='xq-light'>xq-light</option>
                            <option value='yeti'>yeti</option>
                            <option value='zenburn'>zenburn</option>
                        </select>
                    </span>
                   <br><br>
                    <script src="/static/vendor/codemirror/js/codemirror.js"></script>
                    <link rel="stylesheet" href="/static/vendor/codemirror/css/codemirror.css">
                    <script src="/static/vendor/codemirror/js/python.js"></script>
                    <link rel="stylesheet" href="/static/vendor/codemirror/css/base16-light.css">
                    <script src="/static/vendor/codemirror/js/placeholder.js"></script>
                    <script src="/static/vendor/codemirror/js/anyword-hint.js"></script>
                    <script src="/static/vendor/codemirror/js/show-hint.js"></script>
                    <link rel="stylesheet" href="/static/vendor/codemirror/css/show-hint.css">
                    <div class="form-group">
                        <textarea class="form_control" id="flask-codemirror-source_code" name="source_code">{{form.source_code.data}}</textarea>
                    </div>
                    <p>
                        <input type="submit" class="btn btn-dark" name="run" value="Run" id="run_button"/>
                        <input type="submit" class="btn btn-dark" name="submit" value="Submit" id="submit_button"/>
                        <input type="checkbox" class="checkbox-inline" id="custom_input" name="custom_input"
                            value="custom inputs"/>
                        <label for="custom_input"><font color="black">Custom Inputs</font></label>
                    </p>
                    <div id="inputdiv" class="form-group">
                        {{ render_field(form.inputs, class_="form-control",id="inputs") }}
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="mydata">
                        <p><font size="12"> <b><i> {{ status }}</i></b></font></p>
                        <hr>
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                        {% for output in outputs %}
                        <tr>
                            <td>
                                <p> {{ output }} </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="data">
                        <hr>
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                        <tr>
                            <td>
                                <p><a href="/submissions">{{ check_submissions }}</a></p>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <script>
                var previouscode = document.getElementById("flask-codemirror-source_code").value
                var mediator;
                mediator = new Mediator();
                checkbox = new AddCheckbox(mediator, "custom_input").checkbox;
                inputTextArea = new AddInputsTextArea(mediator, "inputs").inputTextArea;
                inputDiv = new AddInputDiv(mediator, "inputdiv").inputDiv;
                runButton = new AddRunButton(mediator, "run_button").button;
                submitButton = new AddSubmitButton(mediator, "submit_button").button;

                editor_for_source_code = new AddEditor(mediator, "flask-codemirror-source_code", {
                        "extraKeys": {
                            "Ctrl-Space": "autocomplete",

                        },
                        "mode": "python",
                        "theme": getTheme(),
                        "lineWrapping": "true",
                    "lineNumbers": "true",
                        "autoCloseTags": "true",
                        "foldGutter": "true",
                        "dragDrop": "true",
                        "lint": "true",
                        "gutters": ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
                        "matchBrackets": "true"
                    }
                ).editor;

                dropDown = new AddDropdown(mediator, "languages").select;
                themeSelect = new AddThemeSelect(mediator, "themes").select
                mediator.init(previouscode,getTheme());
                function getTheme() {
                var cname="theme"
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                document.cookie="theme=base16-dark"
                return "base16-dark";
                }
            </script>
        </div>
    </div>
</main>
{% endblock content %}