
{% block head %}
{% endblock head %}

{% block content %}
     <head>
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="/static/For%20Table/dataTables.bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
    body {padding-top:20px;padding: 20px;background-color: powderblue;}
    h1   {color: blue;}
</style>

<body>

{%  include 'layout.html' %}
<div>
    <table class="table table-striped table-hover table-bordered" id="mydata">
        <p><font size="12"> <b><i>News Feed</i></b></font></p>

        <hr>
    <thead>
    <tr><th></th></tr>
    </thead>
    <tfoot>
        <tr></tr>
    </tfoot>
        {%  for post in posts %}
            <tr>
            <td>
                <p> {{ post.title }} </p>
                <p> {{ post.user_ }} </p>
                <p>
                    {{ post.dt }}
                </p>
                <details>
                    <SUMMARY>View Details</SUMMARY>
                    <P>
                        {{ post.text }}
                    </P>
                </details>
            </td>
            </tr>
        {% endfor %}
    </table>
</div>
<script src="/static/For%20Table/jquery.js"></script>
<script src="/static/For%20Table/jquery.dataTables.min.js"></script>
<script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
<script>

    $('#mydata').dataTable()
</script>
<!--
    <div>
        <ul class="list-group">
             {% for post in posts %}
                <li class="list-group-item">
                    <div>
                        <div>
                            <p><font size="4px"><b>{{ post.title }}</b></font>&nbsp;<font size="2px">posted by</font><font size="2px>"> {{ post.user_ }}</font><font size="2px"> {{ post.dt }}</font></p>
                        </div>
                    </div>
                </li>
            {% endfor %}
</ul>
    </div>
    -->
</body>
{% endblock content %}

