
{% block head %}
{% endblock head %}

{% block content %}
     <head>
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="/static/For%20Table/dataTables.bootstrap.min.css" rel="stylesheet">
        <script src="/static/For%20Table/jquery.js"></script>
     <script src="/static/w3.js"></script>
    </head>
    <style>
    body {padding-top:20px;padding: 20px;background-color: powderblue;}
    h1   {color: blue;}
    .seethis
    {

    }
    #lt
    {
        width: 80%;
        background-color: white;
    }
    #block
    {

        margin: 16px;
        padding: 2px;

    }
    #hh
    {
        padding: 2px;
        background-color: #ffeeef;
        margin: 8px;
        box-shadow: 5px 5px;
    }
    #logo {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
</style>

<body>

{%  include 'layout.html' %}
<div>

<div id="lt">


        {%  for post in posts %}
            <div id="block">
                <p id="hh"> <b><font size="6px" color="blue">{{ post.title }} </font></b>{{ post.user_ }}

                    {{ post.dt }}
                </p>




                        <div w3-include-html={{ post.text }}>



                            <script>
                                w3.includeHTML();
                            </script>

                    </div>

            </div>


        {% endfor %}

</div>

<script src="/static/For%20Table/jquery.js"></script>
<script src="/static/For%20Table/jquery.dataTables.min.js"></script>
<script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
<script>
w3.includeHTML();
</script>


<!--
    <div>
        <ul class="list-group">
             {% for post in posts %}
                <li class="list-group-item">
                    <div>
                        <div>
                            <p><font size="4px"><b>{{ post.title }}</b></font>&nbsp;<font size="2px">posted by</font><font size="2px>"> {{ post.user_ }}</font><font size="2px"> {{ post.dt }}</font></p>
                        </div>
                    </div>
                </li>
            {% endfor %}
</ul>
    </div>
    -->
</body>
{% endblock content %}

