{% block head %}
{% endblock head %}
{%  extends 'index.html' %}
{% block content %}
    <body>
    <br>
    <h3><strong>Input Graph</strong></h3>
    <hr>
    <br>
    <main role="main" class="container">
    {%  from  "includes/_formhelpers.html" import render_field %}
        <div class="row mt-5">
            <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="">
                <select name="choice" id="choice">
                    <option value="Directed">Directed Graph</option>
                    <option value="Undirected">Undirected Graph</option>
                </select>

                <div class="form-group">
                    {{ render_field(form.nodes_cnt, class_="form-control", id="he")}}
                </div>
                <div class="form-group">
                    {{ render_field(form.nodes_desc, class_="form-control", id="he")}}
                </div>
                <div class="form-group">
                    {{ render_field(form.ed_cnt, class_="form-control", id="he")}}
                </div>
                <div class="form-group">
                    {{ render_field(form.ed_desc, class_="form-control", id="he")}}
                </div>
                <p id="redd"><input type="submit" class="btn btn-primary" value="Create Graph"></p>
            </form>
        </div>
    </main>
     <script>
       highlight("graph");
   </script>
    </body>
{%  endblock content %}