{% block head %}
    <title>{{issue.title}}</title>
{% endblock head %}
{%  extends 'index.html' %}
{% block content %}
  <head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">

  </head>

  <body >

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h3 class="mt-4">{{issue.title}}</h3>

          <!-- Author -->
            {% if issue.problemName != 'CodeFlask' %}
            <p >
            for
            <a href="/about/{{issue.problemID}}/">{{issue.problemName}}</a>

            {% endif %}
          </p>

          <p >
            by
            <a href="/profile/{{issue.username}}">{{issue.username}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{issue.date}}</p>

          <hr>

          <!-- Post Content -->
            <p class="lead">{{issue.text}}</p>
          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form  method="POST" action="">
                  {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.text.label(class="form-control-label") }}
                   {% if form.text.errors %}
                   {{ form.text(class="form-control form-control-lg is-invalid") }}
                   <div class="invalid-feedback">
                   {% for error in form.text.errors %}
                   <span>{{ error }}</span>
                   {% endfor %}</div>
                   {% else %}
                   {{ form.text(class="form-control form-control-lg") }}
                   {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          <!-- Single Comment -->
            {% for comment in comment_array %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="/static/uploads/{{comment.username}}.jpeg" alt="" width="50" height="50">
            <div class="media-body">

              <h5 class="mt-0"><a href="/profile/{{comment.username}}" style="color:black;text-decoration:none;"> {{comment.username}}</a></h5>
                {{comment.text}}
            </div>
          </div>
            <hr>
            {% endfor %}

            <div style="margin-top:200px;">

            </div>
          <!-- Comment with nested comments -->


        </div>





        </div>

      </div>
      <!-- /.row -->
    <!-- /.container -->

    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
  </script>
  <script>
                highlight("Issue");
            </script>

  </body>
{% endblock content %}