{% block head %}
{% endblock head %}

{% include "layout_2.html" %}
{% block content %}
<head>
    <script src="/static/w3.js"></script>
    <style>
        a {
            text-decoration: none;
            display: inline-block;
            <!--padding: 8px 16px;-->
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }

        .previous {
            background-color: #f1f1f1;
            color: black;
        }

        .next {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

    </style>
</head>
{% for article in article_array %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
           <p class="article-content" w3-include-html={{article.title_filename}}>
            <script>
                       w3.includeHTML();

            </script>
        </p>
            <!--<small class="text-muted">{{ article.detail }}</small>-->
        </div>
        <!--<h2><a class="article-title" href="#">{{ article.title }}</a></h2>-->
        <!--<p class="article-content">{{ article.detail }}</p>-->
        <p class="article-content" w3-include-html={{article.content_filename}}>
            <script>
                       w3.includeHTML();

            </script>
        </p>
    </div>
</article>
{% endfor %}
<script>
    w3.includeHTML();
</script>
<a href="#" class="previous round">&#8249;</a>
<a href="#" class="next round">&#8250;</a>
{% endblock content %}
