{% block head %}
{% endblock head %}

{% block content %}
 <style>
#header
{
    width: 100%;
    height: 10%;
    background_color: red;
    height: 30px;
}
#container
{
    width: 100%;
    margin: auto;
}
#first
{
    width: 16%;
    margin: 2%;


    float: left;
}
#second
{
    width: 80%;
    float: right;
}
#clear
{
    clear: both;
}
#bs
{
    margin-top: 2px;
    width: 100%;
    align-content: center;
    background-color: blue;
}
</style>
<body>
 {%  include 'layout.html' %}



   <div id="first" class="jumbotron" >


        <p>
            <b>{{ pbds.pn }}</b>
        </p>
       <hr>
        <p>
            {{ pbds.tl }}
        </p>
       <hr>
        <p>
            {{ pbds.ml }}
        </p>
       <hr>
        <P>
            Accepted Languages:C, C++ , Python, Java
        </P>
       <a class="btn btn-default pull-right" id='bs' href="/editor/{{ pbds.id }}">
           <font color="white">
               Submit
           </font>
       </a>
   </div>
   <div id="second">
        <embed src="{{ pdf_src }}" type="application/pdf" width="100%" height="100%"/>
   </div>
</body>
{% endblock content %}
