{%  extends 'index.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<style>
   #clear
   {
   clear: both;
   }
   #bss
   {
   margin-top: 2px;
   width: 100%;
   align-content: center;
   }
</style>
<main role="main" style="margin-top:20px;">
   <div class="row">
      <div class="offset-1 col-md-8">
         <div class="embed-responsive embed-responsive-1by1">
            <iframe src="{{ pdf_src }}" type="application/pdf"></iframe>
         </div>
      </div>
      <div class="col-md-3" >
         <div id="first" class="jumbotron shadow" style="margin:15px;">
            <p align="center" >
               <b>{{ pbds.pn }}</b>
            </p>
            <hr>
            <p align="center" >
               {{ pbds.tl }}
            </p>
            <hr>
            <p align="center" >
               {{ pbds.ml }}
            </p>
            <hr>
            <P align="center" >
               Accepted Languages:C, C++ , Python, Java
            </P>
            <a class="btn btn-dark pull-right" id="bss" href="/editor/{{ cid }}/{{ pbds.id }}">Submit</a>
            <p id="tt">{{ et }}</p>
            <script type="text/javascript">
               document.getElementById('tt').style.display='none';
               var bt = document.getElementById("bs");
               var ed_string = document.getElementById("tt").innerText;
               var countDownDate = new Date(ed_string).getTime();
               var x = setInterval(function() {
                   var now = new Date().getTime();
                   distance = countDownDate - now;

                   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                   var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                   bt.style.display = 'block';
                   if (distance <= 0) {
                       clearInterval(x);
                       bt.style.display = 'none';
                   }
                   else {
                       bt.style.display = 'block';
                   }
               }, 1000);

            </script>

         </div>
      </div>
   </div>
</main>
    <script>
                highlight("Problem Set");
            </script>
{% endblock content %}