{% block head %}
{% endblock head %}
{% extends 'index.html' %}
{% block content %}
 <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            <p><font size="12"> <b><i>Problem Set</i></b></font></p>
            <hr>
            <div class="my">
                <table class="table table-striped table-bordered table-hover" id="mydata">
                    <thead>
                        <tr>
                            <th>Problem Name</th>
                            <th>Problem Setter</th>
                            <th>Category</th>
                            <th>Accepted Submission</th>
                            <th>Total Submission</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for problem in obj %}
                        <tr>
                            <td>
                                <a href="about/{{problem.id}}">
                                {{ problem.name }}
                                </a>
                            </td>
                            <td>
                                {{ problem.setter }}
                            </td>
                            <td>
                                {{ problem.stylee }}
                            </td>
                            <td>
                                {{ problem.acsub }}
                            </td>
                            <td>
                                {{ problem.sub }}
                            </td>
                        </tr>
                        {% endfor %}
                        <!---   <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr>
                            <tr><td>4456</td><td>Samin Yeaser</td><td>44</td><td>saminyeaserlight@gmail.com</td></tr> -->
                    </tbody>
                </table>
            </div>
            <script src="/static/For%20Table/jquery.js"></script>
            <script src="/static/For%20Table/jquery.dataTables.min.js"></script>
            <script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
            <script>
                $('#mydata').dataTable()
            </script>
        </div>
    </div>
{% endblock content %}