
{% extends 'index.html' %}
{% block head %}
{% endblock head %}
{% block content %}
    <style>
        #lskp
        {
            margin-top: 3%;
            margin-left: 3%;
            margin-right: 3%;
        }
        .lol
        {
            margin-left: 10%;
            margin-right: 10%;
        }
        .highlight {
            background-color: #fff;
            padding: 1%;
            shape-rendering: geometricPrecision;
        }
        #upcard
        {
            width: 100%;
            background-color: #bee5eb;
        }
        #fr{
            float: right;
        }
        #fl{
            float: left;
        }
        #bs
        {
            margin: 2px;
            align-content: center;
            float: right;
        }
        #mt{
            margin-top: 6px;
        }
        .card-header
        {
            height: 11px;
        }
        .bc
        {
            background-color: #bee5eb;
        }
        td a{
        color:black;
        }
    </style>
 <body>

        <div class="shadow container mt" style="margin-top:40px;">
        <br>
        
        <section>

            <div class="shadow">
                <P id="fl"><strong><font size="5px">Problem Set</font></strong></P>
                <a class="btn btn-dark pull-right shadow" id='bs' href="/upload"><font color="white">Upload Problem</font></a>
                <a class="btn btn-dark pull-right shadow" id='bs' href="/graph"><font color="white">Graph Visualization</font></a>
                <a class="btn btn-dark pull-right shadow" id='bs' href="/onlineide"><font color="white">Code & Compile</font></a>
            </div>
        </section>
            <br>
            <div id="lskp">
                <table class="table table-striped table-bordered table-hover" id="mydata">
                    <thead>
                        <tr>
                            <th>Problem Name</th>
                            <th>Problem Setter</th>
                            <th>Category</th>
                            <th>Accepted Submission</th>
                            <th>Total Submission</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for problem in obj %}
                        <tr>
                            <td>
                                <a href="about/{{problem.id}}">
                                {{ problem.name }}
                                </a>
                            </td>
                            <td>
                                <a href="/profile/{{ problem.setter }}">{{ problem.setter }}</a>
                            </td>
                            <td>
                                {{ problem.stylee }}
                            </td>
                            <td>
                                {{ problem.acsub }}
                            </td>
                            <td>
                                {{ problem.sub }}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <script>
                highlight("Problem Set");
            </script>
            <script src="/static/For%20Table/jquery.js"></script>
            <script src="/static/For%20Table/jquery.dataTables.min.js"></script>
            <script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
            <script>
                $('#mydata').dataTable()
            </script>
        </div>

{% endblock content %}