
{% extends "index.html" %}
{% block content %}
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row mt-5">
        <div class="col-md-2" style="margin-top: 0px;">
		     <div class="list-group" id="links">
              <a href="/profile" class="list-group-item list-group-item-action" id="prof">Profile</a>
                 <a href="/submission" class="list-group-item list-group-item-action" id="sub">Submission</a>
              <a href="/posts" class="list-group-item list-group-item-action" id="post">Post</a>
              <a href="/contests" class="list-group-item list-group-item-action" id="contest">Contest</a>
              <a href="/settings" class="list-group-item list-group-item-action" id="settings">Settings</a>

            </div>
		</div>
        <div class="col-md-10">
            {% block content2 %}{% endblock %}
        </div>

	</div>
</div>

<script>
    var href = window.location.href ;
    var res = href.split("/");
    if(res[3] == "submission"){
        var sub = document.getElementById("sub");
        sub.className += " active";
    }
    else if(res[3] == "profile"){
        var sub = document.getElementById("prof");
        sub.className += " active";
    }
    else if(res[3] == "posts"){
        var sub = document.getElementById("post");
        sub.className += " active";
    }
    else if(res[3] == "contests"){
        var sub = document.getElementById("contest");
        sub.className += " active";
    }
    else if(res[3] == "settings"){
        var sub = document.getElementById("settings");
        sub.className += " active";
    }
</script>
{% endblock content %}
