{% extends 'index.html' %}
{% block head %}
{% endblock head %}
{% block content %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="/static/css/styles/atom-one-dark.css">
        <script src="/static/js/highlight.pack.js"></script>

        <script> hljs.initHighlightingOnLoad();</script>
        <style>

            #bs {
                margin-top: 2px;
                width: 100%;
                align-content: center;
                background-color: blue;
            }

        </style>
    <body>
    </head>
    <div class="row mt-5">
        <div class="col-md-3">
            <div id="first" class="jumbotron">
                <p>
                    Problem Title: <a href=/about/{{ submission.problemId }}/> <b>{{ submission.problemName }}</b></a>
                </p>
                <hr>
                <p>
                    Submitted by: <a href=/user/{{ submission.userName }}>{{ submission.userName }}</a>
                </p>
                <hr>
                <p>
                    Language: {{ submission.language }}
                </p>
                <hr>
                <P>
                    Time of Submission: {{ submission.submissionTime }}
                </P>
                <hr>
                <P>
                    Verdict:
                    {% if submission.verdict=="AC" %}
                        <font color="green">
                            {{ submission.verdict }}
                        </font>

                    {% else %}
                        <font color="red">
                            {{ submission.verdict }}
                        </font>
                    {% endif %}
                </P>
                <P>
                    Ecexcution Time: {{ submission.executionTime }}s
                </P>
                <hr>

            </div>
        </div>
        <div class="col-md-9">

            <pre><code class={{ language }}>{{ submission.Code }}</code></pre>
        </div>
    </div>
    </div>
    <script>
        highlight("Submission")
    </script>
    </body>
{% endblock content %}