{% extends 'profile_layout.html' %}
{% block head %}
{% endblock head %}
{% block content2 %}
<head>
     <style>
      *[data-href] {
  cursor: pointer;
}
td a {
  display:inline-block;
  min-height:100%;
  width:100%;
  color:black;
  padding: 0px; /* add your padding here */
}
td {
  padding:0;
}
   </style>
</head>
      <div class="row">
         <div class="col-md-12 shadow" style="background-color:#98978b;padding:15px;">
            <h4>{{user.username}}'s Issues</h4>
         </div>
      </div>
      <hr>
         <div class="col-md-12 shadow">
            <table class="table table-striped table-bordered table-hover" id="mydata" style="margin-top:10px;">
               <thead>
                  <tr>
                     <th>Issues</th>
                  </tr>
               </thead>
               <tbody>
                  {% for issue in issue_array  %}
                  <tr>
                     <td>
                        <h5>
                           <a href="/issues/{{issue.id}}">
                           {{ issue.title }}   <span style="float:right;" class="badge badge-secondary">{{issue.commentNumber}}</span>
                           </a>
                        </h5>
                        {% if issue.problemName != 'CodeFlask' %}
                        <a href="/about/{{issue.problemID}}/">
                           <h6>Problem : {{issue.problemName}}</h6>
                        </a>
                        {% endif %}
                        <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:600px;"> {{issue.text}}</p>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
<script src="/static/For%20Table/jquery.js"></script>
<script src="/static/For%20Table/jquery.dataTables.min.js"></script>
<script src="/static/For%20Table/dataTables.bootstrap4.min.js"></script>
<script>
    $('#mydata').dataTable()
</script>
    <script>
                highlight("user");
            </script>
{% endblock content2 %}