
{% extends "profile_layout.html" %}
{% block content2 %}

<head>
     <style>
   .main-wrap{
   padding:3%;
   max-width:1200px;
   display:block;
   margin: 10px auto;
   }
   #links{
   color:black;
   }
   a:hover {
    color: black;
    text-decoration: none;
}
#div:hover{
color:#98978b;
}
   </style>
</head>

<div class="row">
         <div class="col-md-12">
            <div class="main-wrap">
                <div class="card mt-1" style="background-color:#98978b;padding:15px;">
                    <strong>{{user.username}}'s  Contests</strong>
                </div>
                {% for contest in contest_array %}
                <a href="currentcontest/{{contest.id}}" id="links">
                <div class="card mt-1" id="div">
                    <div class="card-header">
                        <h6>{{contest.title}}</h6>
                    </div>
                </div>
                </a>
                {% endfor %}
                {% if contest_array|length == 0 %}
                <div align="center" style="margin-top:50px;">
                    <strong>Shame !!!</strong>
                </div>
                {% endif %}
            </div>
         </div>
      </div>
    <script>
                highlight("user");
            </script>
{% endblock content2 %}