{% extends "profile_layout.html" %}
{% block content2 %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/w3.js"></script>
</head>

<div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{user.username}}'s Posts</h4>
                        <hr>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                            {% for post in post_array %}
                        <div class="card mt-2 shadow">
                              <div class="card-header">{{post.title}}</div>
                            <div class="card-body" w3-include-html={{post.text}}>
                                  <script>
                                        w3.includeHTML();
                                    </script>
                            </div>
                        </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
</div>
<script>
      w3.includeHTML();
   </script>
{%endblock content2%}